*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
   
}
:root{
    --primary-color:#686868;
    --border-bottom:2px solid transparent;
    --second-border-bottom:2px solid white;
    --padding:10px;
}
.body-container{
    display: flex;
    
    justify-content: space-between;
}
.window{
    width: 20%;
    background-color:#000000;
    
    
}
main{
    background-color: #141922;
}
.first-container{
    width: 80%;
    display: flex;
    flex-direction: column;
}
.main-header{
    background-color: #080b12;
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}
.header-container{
    display: flex;
    align-items: center;
    justify-content: flex-end;
   
}
#upgrade{
    color: white;
    background-color: var(--primary-color);
    border-color: white;
    border-radius: 20px;
    padding: 10px;
}
/* ASIDE  */
ul{
    list-style: none;
    padding: var(--padding);
    margin: 10px;
}
.fa-house,.fa-magnifying-glass,.fa-bars{
    color: white;
}
ul li a{
    color:var(--primary-color) ;
    text-decoration: none;
    border-bottom: var(--border-bottom);
}
ul li a:hover{
    border-bottom:var(--second-border-bottom);
}
h4{
    color: white;
    padding:var(--padding);
}
.mini-container{
    display: flex;
    align-items: center;
}
.mini-container a{
    color: var(--primary-color);
    border-bottom: var(--border-bottom);
    padding: var(--padding);
    
}
li{
    margin: 5px;
}
a{
    color: var(--primary-color);
    text-decoration: none;
    border-bottom: var(--border-bottom);
}
a:hover{
    border-bottom: var(--second-border-bottom);
}
#bg-plus{
    background-color: #a3a3a3;
    padding: 5px;
   
}
hr{
    color: var(--primary-color); 
}
#sign{
    color: white;
    padding: 5px;
}
.fa-user{
    background-color: #a3a3a3;
    padding: 5px;

}
.end-aside{
    margin-top: 150px;
}
/* FINE ASIDE */
.first-section{
    display: flex;
    justify-content: center;
    align-items: center;
}
.link{
    display: flex;
}
.second-section{
    margin-top: 20px;
}
h2,h3{
    color: white;
}
.card{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}
.img-main{
    overflow: hidden;
    height: 150px;
    display: block;
}
.center{
    text-align: center;
}
.text{
    text-align: center;
}
p{
    color: var(--primary-color);
    margin-top: 20px;
}
.ciao{
    position: relative;
    margin: 0 auto;
}
.overlay{
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
}
.ciao:hover .overlay{
    display: block;
}
